.ftred{     color: #FF0000 !important;}
.ftBold{    font-weight: bold !important;}
.center{    text-align: center !important;}
.dimmed{z-index:99998; background-color: rgba(0, 0, 0, 0.75); position: fixed; left: 0; right: 0; top: 0; bottom: 0; }

.loadlayer{z-index:99999; text-align:center; min-height: 10rem; max-height: 13rem; position: fixed; top: 0; left: 0; bottom: 0; right: 0; margin: auto;}
.layer_popup{display: contents; position: fixed; top: 0; left: 0; right: 0; bottom: 0;}
.layer_popup div{display:block; text-align:center;}
.layer{z-index:99999; width: 30rem !important; min-height: 10rem; max-height: 13rem; background-color: #fff; border: 1px solid #e5e5e5; position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto; border-radius: 5px; box-shadow: 0 0 10px -4px;}
.layer p {font-size:1.5rem; margin:1.5rem 0}
.layer button {font-size:1.4rem; padding:0.5rem 1rem; background:#4375DB; color:fff; border-radius:0.5rem}


@media ( max-width: 768px ) {
	.layer_popup {position:fixed; display: inline-block; z-index:99999}
	.layer {width:90% !important}
	.layer p{margin: 1rem;}	
}